/* Таблица стилей для администраторской части */

body {
  background-color: #EEFFFF;
}

#base {
  margin: 12px;
}

#notify {
  color: red;
  float: right;
  margin: 10px;
}

#notify a {
  color: red;
  font-weight: bold;
}

.header {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  margin: 30px;
  clear: both;
}

#menu {
  text-align: center;
  font-size: 25px;
  clear: both;
}

#menu .item {
  background-color: yellow;
  padding: 2px;
  border: 1px dotted black;
}

#menu .item:hover {
  background-color: black;
  color: yellow;
  border: 1px dotted black;
}

#menu a {
  text-decoration: none;
  color: black;
}

.reviews {
  margin: 0 auto;
}

.review {
  border: 1px solid black;
  margin: 15px auto;
  width: 450px;
  padding: 0 15px 5px;
}

.review div {
  margin: 5px 0 0;
  text-align: justify;
}

.reviews_menu {
  margin: 20px;
  text-align: center;
  font-size: 30px;
}

.reviews_menu a {
  text-decoration: none;
}

.reviews_menu span:hover {
  border-bottom: 2px solid graytext;
}

h2 {
  text-align: center;
}

.pages {
  text-align: center;
}

.pages a{
  text-decoration: none;
}

.pages span {
  margin: 0 5px;
}

.pages .current_page {
  color: blue;
}

.contacts {
  text-align: center;
}

.news {
  margin: 0 auto;
}

.new {
  border: 2px dotted black;
  margin: 10px auto;
  width: 500px;
  padding: 0 15px 5px;
}

.new div {
  margin: 5px 0 0;
  text-align: justify;
}

.news_menu {
  margin: 20px;
  text-align: center;
  font-size: 22px;
}

.news_menu a {
  text-decoration: none;
}

.news_menu span:hover {
  border-top: 2px solid graytext;
  border-bottom: 2px solid graytext;
}

.add_news {
  width: 500px;
  margin: 0 auto;
  
}

.add_news input[type="text"] {
  width: 500px;
}